<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">{{ oracion }}</h5>
                    <h2 *ngIf="estado && agregarItem.invalid" class="h2">Verifica los Campos</h2>
                    
                    <form [formGroup]="agregarItem" (ngSubmit)="agregarEditarItem()">
                       
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <textarea class="form-control" id="nombre" rows="3"
                                formControlName="nombre"></textarea>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-secondary"
                                routerLink="/visualizacionItems">Volver</button>
                            <button type="submit" class="btn btn-primary">Agregar</button>

                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

