
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Listado de Sugerencias </h2>
            <button class="btn btn-secondary mx-auto d-block mt-2 mb-2" routerLink="/correciones">AGREGAR</button>
            <div class="container">
                <div class="row justify-content-center">
                  <div class="col-sm-12 col-md-9 col-lg-6">
                    <table class="table table-striped table-bordered tabla-personalizada">
                      <thead>
                        <tr>
                          
                          <th class="text-center">Detalles De La Sugerencia</th>
                          <th class="text-center"> Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let arregloCorreciones of TablaCorreciones">
                         
                          <td class="text-center">{{arregloCorreciones.variableCorreciones}}</td>
                          <td>
                            <i class="fas fa-edit fa-lg" [routerLink]="['/ModificacionSugerencias/', arregloCorreciones.id]"></i>
                            <i (click)="eliminarCorreciones(arregloCorreciones.id)" class="fas fa-trash-alt fa-lg"></i>
                          </td>
                        </tr>
                      
                        
                      </tbody>
                    </table>
                   
                  </div>
                </div>
              </div>
              
        </div>
    </div>
</div>




