<div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-action"  routerLink="/ListarLaDescripcion">Descripcion del tema</li>
                  <li class="list-group-item list-group-item-action" routerLink="/ListarPlanteamiento">Planteamiento del problema</li>
                  <li class="list-group-item list-group-item-action"routerLink="/VerHipotesis">Hipotesis</li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-action"routerLink="/ListarObjectivo">Objectivo General</li>
                  <li class="list-group-item list-group-item-action"routerLink="/LitarTentativo">Titulo Tentativo</li>
                  <li class="list-group-item list-group-item-action"routerLink="/LISTARJUSTIFICACION">Justificacion</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
