
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="login">Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill w-100">
          <li class="nav-item active">
            <a class="nav-link text-uppercase font-weight-bold " routerLink="veranteproyecto">Anteproyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-bold " routerLink="visualizacionItems">Parte del proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-bold " routerLink="RegistroItems">Registro de items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-bold " routerLink="ListarCorreciones">Correciones</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

