<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">{{ texto }}</h5>
                    <h2 *ngIf="submitted && CrearObjectivoGeneral.invalid" class="h2">Verifica los Campos</h2>
                    
                    <form [formGroup]="CrearObjectivoGeneral" (ngSubmit)="agregarEditarObjectivoGeneral()">
                       
                        <div class="form-group">
                            <label for="variableObjectivoGeneral">Objectivo General</label>
                            <textarea class="form-control" id="variableObjectivoGeneral" rows="3"
                                formControlName="variableObjectivoGeneral"></textarea>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-secondary"
                                routerLink="/ListarObjectivo">Volver</button>
                            <button type="submit" *ngIf="TablaHipotesis.length > 0" [disabled]="TablaHipotesis.length ===0" class="btn btn-primary">Agregar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


